<h1>Harvest Overflow</h1>



<ul>
    <% @overflows.each do |overflow| %>
        <article>
          <header>
            <h2>Posted <%= time_ago_in_words(overflow.created_at) %> ago</h2>
          </header>
          <table>
            <tr>
              <th>What's available?</th>
              <td><%= overflow.description %></td>
            </tr>
            <% if overflow.perishable %>
            <tr>
              <th>When does it go bad?</th>
              <td><%= time_ago_in_words(overflow.expiration) %> from now</td>
            </tr>
            <% end %>
            <tr>
              <th>Where is it?</th>
              <td>
                <%= @agency.find(overflow.agency_id).name %><br>
                <%= @agency.find(overflow.agency_id).address %><br>              
                <%= @agency.find(overflow.agency_id).city %>, 
                <%= @agency.find(overflow.agency_id).state %>
                <%= @agency.find(overflow.agency_id).zip_code %>
              </td>
            </tr>
          </table>
        </article>
    <% end %>
</ul>